*
    font-family: 'Museo Sans'
@import "base/_variables"
@import "base/_mixins"
@import "block/_promo"
@import "block/_header"
@import "block/_buttons"
@import "block/_advantage"
@import "block/_tittle"
@import "block/_consultation"
@import "block/_forms"
@import "block/_slider"
@import "block/_catalog"
@import "block/_reviews"
@import "block/_footer"
@import "base/_media"


.container
    position: relative
    max-width: 950px
    margin: 0 auto